body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: auto;
}
.top_text{
    width: 1000px;
    margin: auto;
    text-align: center;
}

.top_text h1{
    font-size: 60px;
    font-weight: 300;
}
.top_text h4{
    font-size: 20px;
    font-weight: 100;
}
#container{
    display:flex;
    background-color:rgb(245, 245, 245);
    width: 1250px;
    height: 1005px;

}
.container1{
    height:860px;
    width:270px;
    margin-top:115px;
    margin-left: 25px;
    padding:15px;
    background-color: white;
    border-bottom: 0.5px solid  rgb(179, 176, 176);
}

.container2{
    height:860px;
    width:270px;
    margin-top:115px;
    padding:13px;
    border: 2px solid black;
    background-color: white;
}

.container3{
    height:860px;
    width:270px;
    border-bottom: 0.5px solid  rgb(179, 176, 176);
    border-right: 0.3px solid  rgb(179, 176, 176);
    margin-top:115px;
    padding:15px;
    background-color: white;
}
.container4{
    height:860px;
    width:270px;
    margin-top:115px;
    padding:15px;
    border-bottom: 0.5px solid  rgb(179, 176, 176);
    background-color: white;
}


.container_heading1{
    font-size: 26px;
    font-weight: 500;
    margin-top: 50px;
}
.container_heading{
    font-size: 26px;
    font-weight: 500;
}
.subContent{
    font-size: 18px;
    font-weight: 400;
}
.container1img{
    height: 100px;
    width: 130px;
    position: relative;
    top:-70px;
}
.containerbtn{
    background-color: mediumblue;
    color: white;
    height: 70px;
    width: 250px;
    padding: 1%;
    text-align: center;
    margin-top:60px;
    border:2px solid blue;
}
.containerbtn4{
    background-color: mediumblue;
    color: white;
    height: 70px;
    width: 250px;
    padding: 1%;
    text-align: center;
    margin-top:20px;
    border:2px solid blue;
}
.containerbtn:hover{
    background-color: rgb(9, 9, 110);
}
.symbolsBox1{
     width:240px;
     height: 150px;
     text-align: center;
     font-size: 16px;
     margin-top:65px;
}
.pentagon{
    position: relative;
    top:-35px;
    right:35px;
}
.symbolsBox2{
     width:240px;
     height: 150px;
     text-align: center;
     font-size: 16px;
     margin-top:17px;
}
.symbolsBox3{
     width:240px;
     height: 150px;
     text-align: center;
     font-size: 16px;
     margin-top:38px;
}
.symbolsBox4{
    width:240px;
    height: 150px;
    text-align: center;
    font-size: 16px;
    margin-top:27px;
}
.symbolsInnerBox{
    display:grid;
    grid-template-columns: 50px 165px 50px;
     width:230px;
     height: 30px;
     background-color: pink;
     padding:10px;
}
#popupsWrapper{
    width:1260px;
    margin:auto;
}
.popups{
    width: 1196px;
    height: 250px;
    display:grid;
    grid-template-columns: 300px 300px 300px;
    padding-left:2px;
    font-family: "Barlow Semi Condensed",sans-serif;
    border-top:0.5px solid rgb(180, 178, 178);
    border-bottom:0.5px solid rgb(180, 178, 178);
    font-size: 18px;
    font-weight: 300;
    border-left: 23px solid rgb(245, 245, 245);
    border-right: 23px solid rgb(245, 245, 245);
}
.popups > div{
    text-align: center;
    padding:10px;
    margin-left:60px;
}
.item1{
    font-size: 22px;
    font-weight: 200;
   grid-column: 1 /span 3;
}
.item3{
    font-size: 18px;
}
.item2{
    font-size: 18px;
}
.item4{
    font-size: 18px;
}
.item5{
    grid-column: 1 /span 3;
    font-size: 21px;
    font-size: 500;
}
.item5:hover{
    color:blue;
}
.timeSpan{
    display: inline-flex;
    width:1250px;
    height: 50px;
    text-align: center;
    margin-top:50px;
}
.month{
   border-top:3px solid black;
   border-left:0.5px solid rgb(212, 206, 206);
   border-right: 0.5px solid rgb(245, 245, 245);
   border-bottom: 1px solid rgb(245, 245, 245);
    padding:3px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 400px;
    height: 50px;
    width: 220px;
    background-color:rgb(245, 245, 245);
}
.annual{
   border-top:0.5px solid rgb(212, 206, 206);
   border-right:1px solid rgb(212, 206, 206);
   border-bottom:1px solid  rgb(212, 206, 206);
    padding:3px;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    width: 220px;
    margin-top:5px;
    background-color:rgb(245, 245, 245);
}
.bottomContainer{
    width: 1250px;
    height: 200px;
    background-color: palegoldenrod;
    padding:5px;
}
.bellBox{
    display:inline-flex;
    width:1240px;
    height:300px;
    font-family: "Barlow Semi Condensed",sans-serif;
    border-top:1px solid rgb(212, 206, 206);
    border-bottom:1px solid rgb(212, 206, 206);
 }
 .bellBoxImg{
     margin-top:100px;
     margin-left:70px;
 }
 .bellBoxText{
    margin-top:100px;
    margin-left:70px;
 }
 .bellBoxText1{
     font-size:30px;
     font-weight: 400;
     padding:2px;
 }
 .bellBoxButton{
     margin-top:130px;
     margin-left:30px;
     border:2px solid blue;
     color:blue;
     height: 100px;
     width:365px;
     padding:5px;
     font-size: 21px;
 }
 .bellBoxButton:hover{
     color:white;
     background-color: blue;
 }
 .bellBoxText2{
     font-size:18px;
 }
 .pinkBar{
        width:1230px;
        height:330px;
        padding:10px;
        font-family: "Barlow Semi Condensed",sans-serif;
        border-top:1px solid rgb(212, 206, 206);
        border-bottom:1px solid rgb(212, 206, 206);
    }
    .pinkBarLine{
        height: 7px;
        width: 60px;
        background-color: pink;
        margin-top:60px;
        margin-left: 580px;
    }
    .pinkBarText{
        font-size: 38px;
        margin-left: 320px;
        margin-top:33px;
    }
    .pinkBarBox{
        margin-left: 500px;
        height: 100px;
        width: 230px;
        color:white;
        background-color: blue;
        font-size: 30px;
        padding:10px;
        margin-top:33px;
        border:1px solid blue;
    }
    .pinkBarBox:hover{
        background-color: rgb(3, 3, 133);
    }
.plan{
    text-align: left;
    width:1230px;
    height:330px;
    padding:10px;
    font-family: "Barlow Semi Condensed",sans-serif;
}
.planLargeText{
    font-weight:400;
    font-size:75px;
    margin-left: 250px;
    word-spacing: 6px;
}
.planSmallText{
    font-size: 20px;
    margin-left: 250px;
    font-weight: 100;
    word-spacing: 2px;
}
.klientBoost{
    display:grid;
    grid-template-columns: 500px 550px;
    width: 1100px;
    height: 800px;
    padding:2px;
    background-color: orange;
}
.klientBoostImg{
   height: 750px;
    background-color: blue;
}
.klientBoostText{
    height: 600px;
    width: 550px;
    font-size: 36px;
    margin-left: 50px;
    margin-top:123px;
    background-color: skyblue;
}
.jonathan{
    font-size:23px;
    font-weight: 500;
    margin-top:70px;
}
.klientBoostTextImg{
    height:100px;
    width:140px;
}
.slider-container{
    width: 500px;
    height: 600px;
    background-color: #f9f8f7;
    padding: 32px;
    margin-top:150px;
    margin-left: 30px;
}
.head h4{
    font-size: 25px;
    font-weight:400;
}
.sub-headings-titles{
    display: flex;
    /* align-items: center; */
}
.sub-headings-title h4{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}
.question-mark{
    background-color: #d8d8d8;
    text-decoration: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 0px 0px 8px;
    text-align: center;
    align-items: center;
    vertical-align: top;
}
.question-mark a{
    display: block;
    cursor: pointer;
}
.slider-value{
    height: 50px;
    width: 100px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}
.slider-value p{
    margin: 0;
    padding: 0;
    padding-top: 7px;
}
.question-mark a:hover{
    background-color: blue;
    border-radius: 50%;
}
.slider-prop{
    display: flex;
    align-items: center;
}
.slider-box{
    width: 500px;
    margin-left: 5%;
}
.input-slider{
    -webkit-appearance: none;
    width: 95%;
    height: 10px;
    background: linear-gradient(90deg, rgb(0, 0, 255) 60%, rgba(48, 48, 48, 0.643), 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
    border: 1px solid #dedede;
}
.input-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid blue;
    cursor: pointer;
}

.sub-headings2, .sub-headings3{
    margin-top: 40px;
}
.launch{
    display: inline-flex;
    width:500px;
    margin-left: 15px;
}
.month2{
   border-top:3px solid black;
   border-left:0.5px solid rgb(212, 206, 206);
   border-right: 0.5px solid rgb(245, 245, 245);
   border-bottom: 1px solid rgb(245, 245, 245);
    padding:3px;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 180px;
    background-color:rgb(245, 245, 245);
    margin-left: 540px;
}
.annual2{
   border-top:0.5px solid rgb(212, 206, 206);
   border-right:1px solid rgb(212, 206, 206);
   border-bottom:1px solid  rgb(212, 206, 206);
    padding:3px;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    width: 180px;
    margin-top:5px;
    background-color:rgb(245, 245, 245);
}
.container12{
    height:900px;
    width:330px;
    padding:20px;
    background-color: white;
    border-bottom: 0.5px solid  rgb(179, 176, 176);
    text-align: left;
}
.container_heading12{
    font-size: 26px;
    font-weight: 500;
    margin-top: 50px;
}
.container_heading2{
    font-size: 26px;
    font-weight: 500;
}
.subContent2{
    font-size: 18px;
    font-weight: 400;
}
.container1img2{
    height: 100px;
    width: 130px;
    position: relative;
    top:-30px;
}
.containerbtn2{
    background-color: mediumblue;
    color: white;
    height: 70px;
    width: 250px;
    padding: 1%;
    text-align: center;
    margin-top:60px;
    border:2px solid blue;
}
.symbolsBox12{
    width:240px;
    height: 150px;
    text-align: center;
    font-size: 16px;
    margin-top:65px;
}
 .pentagon2{
    position: relative;
    top:5px;
    left:85px;
} 
.cb2{
    color:black;
    font-size: 19px;
    font-weight: 600;
    margin-top:60px;
    text-align: center;
}
.cb2:hover{
    color:blue;
}
#sliderLink{
    display:grid;
    width: 1150px;
    grid-template-columns: 550px 500px;
    height: 1000px;
    background-color: purple;
}
.faq_header{
    /* border: 1px solid red; */
    width: 1100px;
    /* position: absolute; */
}

.live_chat{
    text-decoration: none;
    color: #03f;
    text-decoration: underline;
}

.faq_header h3{
    font-weight: 400;
    font-size: 30px;
}
.faq_header p, .accordin p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.accordin{
    width: 1100px;
}
.accordin-item{
    margin-top: 20px;
}
.accordin-item-header{
    font-size: 25px;
    font-weight: 400;
}
.accordin-item-body{
    display: none;
}
.accordin-item-header::after{
    content: "\02C4";
    /* font-size: 20px; */
    position: absolute;
    right: 300px;
}
.accordin-item-header:active::after{
    content: "\02C5";
}
.accordin-item-header.active + .accordin-item-body{
    display: block;
}
.last_child{
    padding-bottom: 80px;
}
.white_space{
    height: 100px;
    width:1200px;
    background-color: skyblue;
}
input[type="submit"] {
    width: 20%;
    height: 60px;
    border: none;
    background-color: blue
    
}
.image {
    width: 50%;
    padding-top: 42%;


}
h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 500%;
    padding-left: 1%;
}
img{
    float: right;
    margin-top: 5%;
}
p {
    padding-left: 2%;
}