input[type="submit"] {
    width: 20%;
    height: 60px;
    border: none;
    background-color: blue
    
}
.image {
    width: 50%;
    padding-top: 42%;


}
h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 500%;
    padding-left: 1%;
}
img{
    float: right;
    margin-top: 5%;
}
p {
    padding-left: 2%;
}