body {
    background-color:whitesmoke;
   
  
}
form {
    margin: 10px;
    width: 320px;
    color: blue;
   
    
}
input {
    padding: 10px;
    font-size: inherit;
    
}
input[type="text"] {
    display: block;
    margin-bottom: 40px;
    width: 150%;
    border: 2px whitesmoke;
    
   
}
input[type="email"] {
    display: block;
    margin-bottom: 40px;
    width: 150%;
    border: 2px whitesmoke;
    
    
}
input[type="phonenumber"] {
    display: block;
    margin-bottom: 40px;
    width: 150%;
    border: 2px whitesmoke;
 
}
input[type="submit"] {
    width: 500px;
    height: 45px;
    border: none;
    background-color: blue
}